body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, rgb(42, 40, 169) 9.4%, rgb(58, 157, 200) 20%);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

h1 {
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

nav {
    /* background-color: #ffffff; */
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

#logo {
    position: relative;
    top:0.5rem;
    width:3rem;
    height:3rem;
}

nav ul {
    list-style: none;
    display: flex;
}

span {
    margin :auto;
    display:inline-block;
    margin-left: 0.5rem;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header {
    text-align: center;
    padding: 50px 20px;
    /* font-weight: 50; */
}

section img {
    width: 100%;
    height: auto;
}

.cta {
    text-align: center;
    margin: 50px 0;
}

.try-for-free-btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s; /* Add a smooth transition effect for both transform and background-color */
    cursor: pointer;
}
.try-for-free-btn:hover {
    transform: scale(1.02); 
}
.about-us {
    text-align: center;
    padding: 50px 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 20px;
}

footer a {
    text-decoration: none;
    color: white;
}

.row {
    display: flex;

}

.columntext1{
    margin-top: 2rem;
    margin-right: 5rem;
    padding:1rem;
    padding-top: 3rem;
    justify-content:center ;
    flex: 0 0 40%;
}

.columntext2{
    padding:1rem;
    padding-top: 5.5rem;
    margin-left: 5rem;
    flex: 0 0 40%;
}
.columntext3{  
    padding-top: 2.5rem;
    margin-right: 5rem;
    flex: 0 0 40%;
}

.columnimg1 {
    margin: 5rem 0rem 5rem 5rem ;
   
}
.columnimg2 {
    margin: 5rem;
    
}
.columnimg3 {
    margin-left: 5rem;
}
.columnimg1:hover img {
    transform: scale(1.01); /* Scale the image on hover (you can adjust the scale factor) */
  }
  .columnimg2:hover img {
    transform: scale(1.01); /* Scale the image on hover (you can adjust the scale factor) */
  }
  .columnimg3:hover img {
    transform: scale(1.01); /* Scale the image on hover (you can adjust the scale factor) */
  }
#img1{
width: 70%;
height: auto;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 10px;
padding-left: 1.5rem;
background-color: white;
}

#img2{
    width: 90%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
#img3{
    width: 75%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 4rem 0rem 4rem 4rem;
    padding-bottom: 1rem;
    background-color: white;
}
@media screen and (min-width: 600px) {
    .column {
        flex: 0 0 48%;
        margin: 1%;
    }
}